*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 

}

#page_container {
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px 0px 48px 16px rgba(0, 0, 0, 0.175);
    overflow-x: hidden;
}
li, a, button{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: #24252A;
    text-decoration: none;
}
.header{
    background: #ffffff;
    display:flex;
    justify-content:space-between;
    align-content: center;
    height: 100px;
    width: 100%;
    margin: -8px 0 30px 0;
    border-bottom: 5px solid rgba(167,175,175,1);
    position: fixed;
}


.logo{
    margin: 15px 0px 0px 10px;
    width: 301px;
    height: 71px;
}

nav {
    clear: both;
    text-align: center;
    overflow:hidden;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    margin: 17px 0 0 0;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 20px 24px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: rgb(41, 171, 185);
}

nav li a {
    margin: 5px 0px;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    color: #24252a;
}

.navbar a:hover{
    background: white;
}

button{
    padding: 10px 20px;
    color: rgb(71, 71, 71);
    background-color: rgb(41, 171, 185);
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 31px 50px 0px 25px;
}

button a{
    transition: all 0.3s ease 0s;
}

button a:hover{
    background-color: rgb(41, 171, 185);
    color: rgb(164, 226, 233);
    
}

.intro{
    height: 600px;
    background: grey;
    border: 1px solid black;
    overflow: hidden;
    clear: both;
    padding-top: 105px;
}

.info1{
    height: 600px;
    background: grey;
    border: 1px solid black;
    overflow: hidden;
    clear: both;
}
.info2{
    height: 600px;
    background: grey;
    border: 1px solid black;
    overflow: hidden;
    clear: both;
}
.info3{
    height: 600px;
    background: grey;
    border: 1px solid black;
    overflow: hidden;
    clear: both;
}
.info4{
    height: 600px;
    background: grey;
    border: 1px solid black;
    overflow: hidden;
    clear: both;
}

.footer{
    padding: 40px;
    background-color: rgb(27, 27, 27);
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: rgb(41, 171, 185);

}
.footer .social a{
    font-size: 16px;
    color: inherit;
    border: 1px solid rgb(41, 171, 185);
    background-color: #fff;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 1;
}
.footer .social a:hover{ 
    opacity: 0.9;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 1.6;
    margin-bottom: 0;
    text-align: center;
    color: #ffffff;
}

.footer ul li a{
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover{
    color: rgb(41, 171, 185);
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #ffffff;
}