*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 

}

#page_container {
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px 0px 48px 16px rgba(0, 0, 0, 0.175);
    overflow-x: hidden;
}
li, a, button{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: #24252A;
    text-decoration: none;
}
.header{
    background:#ffffff;
    display:flex;
    justify-content:space-between;
    align-content: center;
    height: 100px;
    width: 100%;
    margin: -8px 0 30px 0;
    border-bottom: 5px solid rgba(167,175,175,1);
    position: fixed;
    z-index: 9;
}

.header p{
    margin: -25px 0 0 93px;
    color:rgb(190, 215, 215);
}

.logo{
    margin: 15px 0px 0px 10px;
    width: 301px;
    height: 71px;
}

nav {
    clear: both;
    text-align: center;
    overflow:hidden;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    margin: 17px 120px 0 0;

}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 20px 24px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: rgb(41, 171, 185);
}

nav li a {
    margin: 5px 0px;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    color: #24252a;
}

.navbar a:hover{
    background: white;
}

.cta{
    padding: 10px 20px;
    height: 41px;
    color: rgb(71, 71, 71);
    background-color: rgb(41, 171, 185);
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 31px 50px 0px 25px;
    transition: all 0.3s ease 0s;
}

.cta:hover{
    background-color: rgb(40, 150, 160);
    color: rgb(164, 226, 233);
}

.intro {
    height: 400px;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("resources/Lake-Pupuke/4403859836_116c583ee9_o.jpg") no-repeat center/cover;
    clear: both;
    display: flex;
    align-items: center;
    padding: 0 0 0 0px;
}

.intro-box{
    height: 400px;
    width: 100%;
}

.title{
    margin: 0;
    text-align: center;
}

.title h2{
    font-size: 120px;
    color: rgb(126, 230, 230);
    margin: 150px 0 0 0;
}

.pupuke-info{
    height: 2625px;
    background: rgb(174, 219, 214);
    overflow: hidden;
    clear: both;
}

.pupuke-info-box{
    height: 2555px;
    background: #ffffff;
    margin: 35px;
    border-radius: 30px;
}

.pupuke-info h2{
    font-size: 40px;
}
.pupuke-info h3{
    font-size: 30px;
}
.pupuke-info p{
    font-size: 25px;
    color: rgb(0, 64, 71);
}

.section-1{
    width: 600px;
    margin: 35px 0 0 35px;
    float: left;
}

.section-2{
    width: 850px;
    height: 525px;
    margin: 120px 35px 0 35px;
    border-radius: 30px;
    float: right;
    background: url("resources/Lake-Pupuke/4403095001_1e47703d48_o.jpg") no-repeat center/cover;
}
.section-3{
    margin: 60px 35px 35px 35px;
    float: left;
}
.section-4{
    width: 900px;
    height: 450px;
    margin: 25px 35px 35px 35px;
    border-radius: 30px;
    float: left;
    background: url("resources/Lake-Pupuke/4628694870_48acba76de_k.jpg") no-repeat center/cover;
}
.section-5{
    margin: 15px 35px 35px 0px;
    width: 560px;
    height: 460px;
    float: left;
}
.section-6{
    margin: 25px 35px 0 35px;
    width: 650px;
    float: left;
   
}
.section-7{
    width: 820px;
    height: 600px;
    margin: 35px 35px 0 0;
    border-radius: 30px;
    float: right;
    background: url("resources/Lake-Pupuke/lake\ Takapuna\ 1930.webp") no-repeat center/cover;
}

.section-8{
    margin: 25px 35px 0 35px;
    float: left;
}

.anchor{
    height: 80px;
    opacity: 0%;
    margin: -80px 0 0 0;
    z-index: 1;
}

.intro-2{
    height: 320px;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("resources/Rangitoto-Island/2740175257_71e703fde3_k.jpg") no-repeat center/cover;
    clear: both;
    display: flex;
    align-items: center;
    padding: 0 0 0 0px;
}

.intro-box-2{
    height: 320px;
    width: 100%;
}

.title-2{
    margin: 0;
    text-align: center;
}

.title-2 h2{
    font-size: 120px;
    color: rgb(126, 230, 230);
    margin: 75px 0 0 0;
}

.rangitoto-info{
    height: 3145px;
    background: rgb(174, 219, 214);
    overflow: hidden;
    clear: both;
}

.rangitoto-info-box{
    height: 3080px;
    background: #ffffff;
    margin: 35px;
    border-radius: 30px;
}

.rangitoto-info h2{
    font-size: 40px;
}
.rangitoto-info h3{
    font-size: 30px;
}
.rangitoto-info p{
    font-size: 25px;
    color: rgb(0, 64, 71);
}

.section2-1{
    width: 600px;
    margin: 35px 0 0 35px;
    float: left;
}

.section2-2{
    width: 850px;
    height: 645px;
    margin: 120px 35px 0 35px;
    border-radius: 30px;
    float: right;
    background: url("resources/Rangitoto-Island/Rangitoto_\(1395366679\).jpg") no-repeat center/cover;
}
.section2-3{
    margin: 60px 35px 35px 35px;
    float: left;
}
.section2-4{
    width: 95.5%;
    height: 700px;
    margin: 0 35px 0 35px;
    border-radius: 30px;
    float: left;
    background: url("resources/Rangitoto-Island/1024px-Rangitoto_Island.jpg") no-repeat center/cover;
}
.section2-5{
    margin: 60px 35px 35px 35px;
    float: left;
}
.section2-6{
    margin: 0px 35px 35px 35px;
    float: left;
    height: 500px;
    width: 850px;
    border-radius: 30px;
    background: url("resources/Rangitoto-Island/31234016141_e67f1b4a3d_b.jpg") no-repeat center/cover;
}
.section2-7{
    margin: 0px 35px 35px 0px;
    float: right;
    width: 620px;
}
.section2-8{
    margin: 0px 35px 35px 35px;
    float: left;
}

.footer{
    padding: 40px;
    background-color: #fff;
    border-top: 1px solid lightgray;
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: rgb(41, 171, 185);

}
.footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid rgb(41, 171, 185);
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}
.footer .social a:hover{ 
    opacity: 0.9;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 1.6;
    margin-bottom: 0;
    text-align: center;
    color: #24252A;
}

.footer ul li a{
    color:inherit;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover{
    color: rgb(41, 171, 185);
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #24252A;
}