*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 

}

#page_container {
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px 0px 48px 16px rgba(0, 0, 0, 0.175);
    overflow-x: hidden;
}
li, a, button{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: #24252A;
    text-decoration: none;
}
.header{
    background: #ffffff;
    display:flex;
    justify-content:space-between;
    align-content: center;
    height: 100px;
    width: 100%;
    margin: -8px 0 30px 0;
    border-bottom: 5px solid rgba(167,175,175,1);
    position: fixed;
}

.header p{
    margin: -25px 0 0 93px;
    color:rgb(190, 215, 215);
}

.logo{
    margin: 15px 0px 0px 10px;
    width: 301px;
    height: 71px;
}

nav {
    clear: both;
    text-align: center;
    overflow:hidden;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    margin: 17px 120px 0 0;

}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 20px 24px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: rgb(41, 171, 185);
}

nav li a {
    margin: 5px 0px;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    color: #24252a;
}

.navbar a:hover{
    background: white;
}

button{
    padding: 10px 20px;
    color: rgb(71, 71, 71);
    background-color: rgb(41, 171, 185);
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 31px 50px 0px 25px;
}

button a{
    transition: all 0.3s ease 0s;
}

button a:hover{
    background-color: rgb(41, 171, 185);
    color: rgb(164, 226, 233);
    
}

.intro {
    height: 400px;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("resources/Waitemata-harbour/7175925345_3ea2ec0971_5k.jpg") no-repeat center/cover;
    clear: both;
    display: flex;
    align-items: center;
    padding: 0 0 0 0px;
}

.intro-box{
    height: 400px;
    width: 100%;
}

.title{
    margin: 0;
    text-align: center;
}

.title h2{
    font-size: 120px;
    color: rgb(126, 230, 230);
    margin: 150px 0 0 0;
}

.waitemata-info{
    height: 2770px;
    background: rgb(174, 219, 214);
    overflow: hidden;
    clear: both;
}

.waitemata-info-box{
    height: 2700px;
    background: #ffffff;
    margin: 35px;
    border-radius: 30px;
}

.waitemata-info h2{
    font-size: 40px;
}
.waitemata-info h3{
    font-size: 30px;
}
.waitemata-info p{
    font-size: 25px;
    color: rgb(0, 64, 71);
}

.section-1{
    width: 600px;
    margin: 35px 0 0 35px;
    float: left;
}

.section-2{
    width: 850px;
    height: 425px;
    margin: 120px 35px 0 35px;
    border-radius: 30px;
    float: right;
    background: url("resources/Waitemata-harbour/1024px-Bench_overlooking_the_Waitemata_Harbour\,_Auckland_-_0088.jpg") no-repeat center/cover;
}
.section-3{
    margin: 60px 35px 35px 35px;
    float: left;
}
.section-4{
    width: 95.5%;
    height: 800px;
    margin: 0 35px 0 35px;
    border-radius: 30px;
    float: left;
    background: url("resources/Waitemata-harbour/1024px-Waitematā_Harbour_Eastwards_View.jpg") no-repeat center/cover;
}
.section-5{
    margin: 60px 35px 35px 35px;
    float: left;
}
.section-6{
    width: 800px;
    height: 550px;
    margin: 0 35px;
    border-radius: 30px;
    float: left;
    background: url("resources/Waitemata-harbour/15845227080_85557857ea_6k.jpg") no-repeat center/cover;
}
.section-7{
    margin: 0 35px 0 0;
    width: 650px;
    float: right;
}

.anchor{
    height: 80px;
    opacity: 0%;
    margin: -80px 0 0 0;
}

.intro-2{
    height: 320px;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("resources/Waitemata-harbour/1024px-Waitemata_Harbour-mouth_aerial.jpg") no-repeat center/cover;
    clear: both;
    display: flex;
    align-items: center;
    padding: 0 0 0 0px;
}

.intro-box-2{
    height: 320px;
    width: 100%;
}

.title-2{
    margin: 0;
    text-align: center;
}

.title-2 h2{
    font-size: 120px;
    color: rgb(126, 230, 230);
    margin: 75px 0 0 0;
}

.ngati-info{
    height: 2130px;
    background: rgb(174, 219, 214);
    overflow: hidden;
    clear: both;
}

.ngati-info-box{
    height: 2060px;
    background: #ffffff;
    margin: 35px;
    border-radius: 30px;
}

.ngati-info h2{
    font-size: 40px;
}
.ngati-info h3{
    font-size: 30px;
}
.ngati-info p{
    font-size: 25px;
    color: rgb(0, 64, 71);
}

.section2-1{
    width: 600px;
    height: 500px;
    margin: 35px 0 0 35px;
    float: left;
}

.section2-2{
    width: 850px;
    height: 425px;
    margin: 120px 35px 0 35px;
    border-radius: 30px;
    float: right;
    background: url("resources/Rangitoto-Island/25532825031_8426877ed9_k.jpg") no-repeat center/cover;
}
.section2-3{
    margin: 60px 35px 35px 35px;
    float: left;
}
.section2-4{
    width: 95.5%;
    height: 800px;
    margin: 0 35px 0 35px;
    border-radius: 30px;
    float: left;
    background: url("resources/Waitemata-harbour/1024px-Auckland_Harbour_View_20_\(5642826932\).jpg") no-repeat center/cover;
}

.footer{
    padding: 40px;
    background-color: #fff;
    border-top: 1px solid lightgray;
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: rgb(41, 171, 185);

}
.footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid rgb(41, 171, 185);
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}
.footer .social a:hover{ 
    opacity: 0.9;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 1.6;
    margin-bottom: 0;
    text-align: center;
    color: #24252A;
}

.footer ul li a{
    color:inherit;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover{
    color: rgb(41, 171, 185);
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #24252A;
}